{% extends "layout.html" %}
{% block title %}Stories{% endblock %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='stories.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
  {% for story in stories %}
  <a href={{get_comments_url(story._id)}}>
    <div class="story row">
      <div class="col-md-1">
        <p class="story-info">{{ story.score }}</p>
      </div>
      <div class="col-md-7">
        <p class="story-info">{{ story.title }}</p>
      </div>
      <div class="col-md-2">
        <p class="story-info">{{ story.by }}</p>
      </div>
      <div class="col-md-2">
        <p class="story-info">{{ unixToReadable(story.time) }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
{% endblock %}