{% extends "layout.html" %}
{% block title %}Translation Status{% endblock %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='translations.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="translations-table-container">
  <table class="table-condensed table-striped translations-table">
    <tr>
      <th>Text</th>
      <th>Translated Text</th>
      <th>Target Language</th> 
      <th>Status</th>
    </tr>
    {% for translation in translations%}
    <tr>
      <th> {{translation.text}} </th>
      {% if 'translatedText' in translation %}
        <th> {{translation.translatedText}} </th>
      {% else %}
        <th> Unavailable </th>
      {% endif %}
      <th> {{translation.target_language}} </th>
      <th> {{translation.status}} </th>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}