.comment-text {
  background-color: #f4f4f4;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  border-left: solid 2px black;
  border-top: solid 2px black;
}

.story-title{
  font-family: Roboto Mono
}
