@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.main-content{
  width: 80%;
}

.app-title{
  font-family: Roboto Mono;
  text-decoration: underline;
  color: black;
}

.app-title:hover{
  color: #ff6600;
}

a {
  color: #ff6600;
}

a:hover {
  color: #ff6600;
  text-decoration: underline;
}